{{- $src := .Get "src" -}}
{{- $w := default "auto" (.Get "w") -}}
{{- $h := default "auto" (.Get "h") -}}
{{- $lang := default "plain" (.Get "lang") -}}
{{- $imagePath := path.Join .Page.RelPermalink $src -}}

<div style="border: solid 1px gray; padding: 0.5em 0; border: solid 1px #ccc; border-radius: 0.5em;">
  <div style="display: inline-block; width: 49%; text-align: center;">
  <img style="width:{{$w}}; height:{{$h}}" src="{{ $imagePath }}" >
  </div>
  <div style="display: inline-block; width: 49%; vertical-align: top; white-space: nowrap; overflow-wrap: break-word;">
    {{- highlight (trim .Inner "\r\n") $lang "" -}}
  </div>
</div>
